<h1>Listing houses</h1>

<table class="table table-striped sortable">
  <tr>
    <th>Name</th>
    <th>Motto</th>
    <th>Sigil</th>
    <th>Seat</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @houses.each do |house| %>
  <tr>
    <td><%= house.name %></td>
    <td><%= house.motto %></td>
    <td><%= house.sigil %></td>
    <td><%= house.seat %></td>
    <td><%= link_to 'Show', house %></td>
    <td><%= link_to 'Edit', edit_house_path(house) %></td>
    <td><%= link_to raw('<i class="icon-remove"></i>'), house, class: 'btn btn-small close pull-left', method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New House', new_house_path, class: "btn btn-primary" %>
