<h2>House <%= @house.name %></h2>
<p>
<em><%= @house.motto %></em>
</p>

<p>
  <b>Sigil:</b>
  <%= @house.sigil %>
</p>

<p>
  <b>Seat:</b>
  <%= @house.seat %>
</p>

<table class="table table-striped">
  <tr>
    <th>Name</th>
  </tr>
  <% @characters.each do |character| %>
    <tr>
    <td><%= link_to character.full_name, character %></td>
  </tr>
  <% end %>
</table>


<%= link_to 'Edit', edit_house_path(@house) %> |
<%= link_to 'Back', houses_path %>
