<%= form_for(@character, :html => { class:""}) do |f| %>
  <% if @character.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@character.errors.count, "error") %> prohibited this character from being saved:</h2>

      <ul>
      <% @character.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :nickname %>
    <%= f.text_field :nickname, placeholder: "e.g. \"Kingslayer\""   %>
  </div>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title, placeholder: "e.g. \"Lord of Winterfell\"" %>
  </div>
  <div class="field">
    Date of Birth (estimated)<br/><%= f.date_select :dob %>
  </div>
  <div class="field">
    <%= f.label :is_male %>
    <%= f.select :is_male, [['Male',1], ['Female',0]] %>
  </div>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :house %>
    <%= f.collection_select :house_id, @houses, :id, :name, prompt: "Select a House" %>
    <%= link_to "Add a house", "#add_house_modal", remote: url_for(House.new), role: "button", class: "btn", :'data-toggle'=>"modal" %> 
  </div>
  <div class="field">
    Is this character in an order?
    <%= f.collection_select :order_id, Order.all, :id, :name, prompt: "None" %>
  </div>
  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
<%= render "houses/modal" %>

<script type="text/javascript">
  FocusFormsFirstInput('new_character'); 
</script>
