<h1>Listing characters</h1>

<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Title</th>
    <th>Email</th>
    <th>Nickname</th>
    <th>House</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @characters.each do |character| %>
  <tr>
    <td><%= link_to character.full_name, character %></td>
    <td><%= character.title %></td>
    <td><%= character.email %></td>
    <td><%= character.nickname %></td>
    <td><%= link_to character.house.name, character.house %></td>
    <td><%= link_to 'Show', character %></td>
    <td><%= link_to 'Edit', edit_character_path(character) %></td>
    <td><%= link_to 'Destroy', character, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Character', new_character_path, class: "btn btn-primary" %>
