<h2><%= @character.common_name %></h2>
<h4><%= @character.title %></h4>
<p>
  <b>Dob:</b>
  <%= @character.dob %>
</p>

<p>
  <b>Is male:</b>
  <%= @character.is_male %>
</p>

<p>
  <b>Email:</b>
  <%= @character.email %>
</p>

<p>
  <b>Nickname:</b>
  <%= @character.nickname %>
</p>

<p>
  <b>House</b>
  <%= link_to @character.house.name, @character.house %>
</p>

<p>
  <b>Father</b>
  <%= @character.inspect%>
  <br/><hr/>
  <% Relationship.all do |r| %>
 <%= r %>
  <% end %>
</p>


<%= link_to 'Edit', edit_character_path(@character) %> |
<%= link_to 'Back', characters_path %>
